/* Establecer márgenes y padding de cero para body y html */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


/*/////////////encabezado/////////////*/

.header {
  background-color: #074C73; /* Fondo del encabezado */
  color: #ffffff; /* Color del texto dentro del encabezado */
}

/* Estilo para la barra de herramientas dentro del encabezado */
.encabezado {
  --background: #074C73; /* Fondo de la barra de herramientas */
  --color: #ffffff; /* Color del texto dentro de la barra de herramientas */
}

/* Estilo para el contenedor del logo y el título "WorkPlanner" */
.logo-title-container {
  display: flex;
  align-items: center;
}

/* Estilo para el logo */
.logo {
  width: 40px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 10px; /* Espacio entre el logo y el título */
}

/* Estilo para el título "WorkPlanner" */
.header-title {
  color: #ffffff; /* Color del texto */
  font-size: 1.5em; /* Tamaño de la fuente */
}

/* Estilo para el contenedor del título "Projects" */
.projects-title-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* Empuja este contenedor al final de la barra de herramientas */
}

/* Estilo para el título "Projects" */
.projects-title {
  color: #ffffff; /* Color del texto */
  font-size: 1.2em; /* Tamaño de la fuente */
}

/* Estilo para el botón del menú */
.header ion-button {
  --background: none; /* Fondo del botón */
  --color: #ffffff; /* Color del icono dentro del botón */
}



/*/////////Contenedor padre para centrar la tarjeta////////*/
.parent-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: flex-start; /* Alinear al inicio verticalmente, puedes ajustar según sea necesario */
  min-height: 10vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  padding: 20px; /* Añadir un poco de padding para el espaciado */
  box-sizing: border-box;
}

/* Estilos para la tarjeta */
.activities-card {
  width: 70%; /* Ancho para pantallas grandes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un mejor diseño */
  transition: width 0.3s ease-in-out; /* Suave transición al cambiar el tamaño */
}

@media (max-width: 768px) {
  .activities-card {
    width: 90%; /* Ancho para pantallas medianas */
  }
}

@media (max-width: 480px) {
  .activities-card {
    width: 100%; /* Ancho para pantallas pequeñas */
  }
}

