.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .activities-card {
    width: 90%;
    max-width: 500px;
    margin: 5vh auto 0; /* Añade margen superior a la tarjeta */
  }
  
  .activity-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .activity-content {
    flex: 1;
  }
  
  .activity-content p {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
 