.scroll-y {
  overflow-y: var(--overflow);
  overscroll-behavior-y: contain;
}

.scrollable-content {
  max-height: calc(100vh - 5.625rem); /* 90 pixels / 16 pixels = 5.625 */
  overflow-y: auto;
  margin-top: 5.625rem; /* 90 pixels / 16 pixels = 5.625 */
}

.logo-img {
  width: 6.25rem; /* 100 pixels / 16 pixels = 6.25 */
  margin-bottom: 0.625rem; /* 10 pixels / 16 pixels = 0.625 */
}

.login-card {
  background-color: #ffffff;
  scroll-behavior: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;   /* Añade un relleno para mejorar el espacio entre elementos */

}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem; /* 20 pixels / 16 pixels = 1.25 */
  background-color: #fff;
  width: 80%; /* Ajusta el ancho del contenedor de entrada */
  max-width: 20rem; /* Limita el ancho máximo del contenedor de entrada */
}

.input-container div {
  margin-bottom: 0.3125rem; /* 5 pixels / 16 pixels = 0.3125 */
}

.oval-button {
  border-radius: 1.25rem; /* 20 pixels / 16 pixels = 1.25 */
  margin-bottom: 0.625rem; /* 10 pixels / 16 pixels = 0.625 */
  width: 80%; /* Ajusta el ancho del botón */
  max-width: 20rem; /* Limita el ancho máximo del botón */
}

.forgot-button {
  margin-bottom: 1.25rem; /* 20 pixels / 16 pixels = 1.25 */
}

.TitleWP {
  margin-left: 3.125rem; /* 50 pixels / 16 pixels = 3.125 */
  color: #fc4f00;
  font-size: 1.4375rem; /* 23 pixels / 16 pixels = 1.4375 */
}

.LogoPerfil {
  text-align: center;
  margin-top: 12.5rem; /* 200 pixels / 16 pixels = 12.5 */
  width: 15.625rem; /* 250 pixels / 16 pixels = 15.625 */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .input-container {
    width: 90%; /* Ajusta el ancho del contenedor de entrada para pantallas pequeñas */
    max-width: none; /* Elimina el límite de ancho máximo */
  }

  .oval-button {
    width: 90%; /* Ajusta el ancho del botón para pantallas pequeñas */
    max-width: none; /* Elimina el límite de ancho máximo */
  }

  .LogoPerfil {
    margin-top: 8rem; /* Ajusta el margen superior para pantallas pequeñas */
  }
}
